body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('path/to/your/image.avif');  */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
.form-container {
    background: rgba(17, 155, 90, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    transition: background 0.3s ease;
}
.form-container:hover {
    background: rgb(12, 211, 111);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b0c0c;
}
.input-group {
    margin-bottom: 15px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}
input:focus, textarea:focus {
    border-color: #080808;
    outline: none;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #0f0f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0a0a0a;
}
.hidden {
    display: none;
}
#thank-you {
    text-align: center;
    font-size: 18px;
    color: #333;
}

